body{background-color: lightyellow}

h1{
     font-size: 30px;
     color: pink;
  }
h2{
    color: purple;
    font-size: 13px;
  }
.big{font-size: 60px;}
.upper{text-transform: uppercase;}
.big.upper{color: royalblue;}
h1 span{color: saddlebrown;}